
.footer {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}


.logo {
  margin-left : 0px;
  padding: 5px;
  padding-left: 0px;

}

.th-row {
  text-align: right;
  padding-right: 10px;
} 

.obs, .fcast{
  text-align: center;
}

.panel-body {
  background-color: #F8F8F8 ;   
  min-height: 400px;
}

.slide {
  width: 100%;
  height: 100%;
  padding-right: 0px;  
}

/*
.local_grad_frost_severe { background-color: #66CCCC; }
.local_grad_frost_high { background-color: #66CCCC; }
.local_grad_frost_moderate { background-color: #99FFFF; }
.local_grad_frost_slight { background-color: #CCFFFF; }
.local_grad_frost_low { background-color: #E4F1FA; }
.local_grad_frost_nil { background-color: #FEFBDE; }

.local_grad_wind_0 { background-color: #6699FF; }
.local_grad_wind_1 { background-color: #66FF99; }
.local_grad_wind_2 { background-color: #FFFF99; }
.local_grad_wind_3 { background-color: #FFCC66; }
.local_grad_wind_4 { background-color: #FF0000; }
.local_grad_wind_5 { background-color: #990099; }

.local_grad_uv_extreme { background-color: #663399; color: white; }
.local_grad_uv_very_high { background-color: #9966CC; }
.local_grad_uv_high { background-color: #9966CC; }
.local_grad_uv_moderate { background-color: #9999CC; }
.local_grad_uv_low { background-color: #9999CC; }
*/

