
div.radar {
  width: 480px;
}

div.radar div#anim {
  position: relative;
  width: 480px;
  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

div.radar div#anim>div {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

div.radar div#anim img {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}


#anim {
  position: absolute;
  width: 480px;
  height: 320px;
  left: 0px;
  top: 0px;
}

#anim_clip {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#anim_animation {
  position: relative;
  top: -6px;
  left: 0px;
  width: 480px;
  height: 360px;
  z-index: -1;
}
#anim_header {
  position: absolute;
  width: 480px;
  padding: 2px 12px;
  height: 30px;
  background-color: rgba(0,0,0,0.6);
  
}
#anim_controls {
  width: 235px;
  height: 19px;
  margin: 0 auto;
  color: #eee;
  text-align: center;
}
#anim_rainkey {
  position: absolute;
  padding: 4px 12px;
  color: #eee;
  height: 29px;
  background-color: rgba(0,0,0,0.6);
  -webkit-border-top-right-radius: 4px 4px;
  bottom: 0px;
  font-size: 1em;
}
#anim_startstop.started {
  background: #eee url('../../assets/btn-anim-pause.gif') no-repeat center center;
}
#anim_startstop.stopped {
  background: #eee url('../../assets/btn-anim-play.gif') no-repeat center center
}
#anim_startstop {
  float: left;
  margin-right: 8px;
  -webkit-border-radius: 2px 2px;
  height: 30px;
  width: 30px;
}
#anim_stepforward {
  float: left;
  margin-right: 8px;
  -webkit-border-radius: 2px 2px;
  height: 30px;
  width: 30px;
  background: #eee url('../../assets/btn-anim-stepforward.gif') no-repeat center center;
}
#anim_stepbackward {
  float: left;
  margin-right: 8px;
  -webkit-border-radius: 2px 2px;
  height: 30px;
  width: 30px;
  background: #eee url('../../assets/btn-anim-stepbackward.gif') no-repeat center center;
}
#anim_timestamp {
  float: left;
  width: 110px;
  margin-top: 6px;
  margin-right: 8px;
  color: #eee;
  font-size: 14px;
  font-weight: bold;
}
#anim_zoomout {
  position: absolute;
  bottom: 5px;
  right: 5px;
  -webkit-border-radius: 2px 2px;
  height: 30px;
  width: 30px;
  text-decoration: none;
  background: #eee url('../../assets/btn-anim-zoomout.gif') no-repeat center center;
}
#tracker {
  position: absolute;
  top: -6px;
}

.anchormap {
  display: none;z-index
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6px;
  left: 0px;
}

.anchormap a {
  position: absolute;
  display: block;
  width: 45px;
  height: 30px;
  margin-top: -15px;
  margin-left: -22px;
  background-color: rgba(80,80,80,0.4);
  border: 1px dashed rgba(0,0,0,0.4);
  -webkit-border-radius: 2px 2px;
}
