      <div style="clear:both;float:left;"></div>
      <div class="media-heading pull-left" style='margin-top:20px;padding-left:20px;'>
         <p><strong>myWeather</strong> provides the weather information services for
            <ul>
              <li>Current condition</li>
              <li>Observation</li> 
              <li>7 day forecasts and</li>
              <li>Local and national radar images</li>
            </ul>
          </div>

       <div class="media">
          <div class="media-body pull-right">
            <img class="media-object" src="http://farm1.staticflickr.com/110/363300589_4bf38954c9_z.jpg?zz=1" alt="">
          </div>
      </div>
