<div class="panel panel-default">
    <div class="panel-heading">
      <span>myWeather</span>
    </div>
   <div class="panel-body">
     <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://farm6.staticflickr.com/5241/5234269480_57b85e754a_o.jpg" alt="">
          <div class="caption">(Photo source : thelastname at http://www.flickr.com/groups/weatherzone/)
            <h3>Current weather conditions</h3>
           Ms Public is a local resident living in Mytown. She works for the Mytown City Council (MCC) and monitors everyday's roadworks going on around all suburbs of MCC.

Ms Public visits myweather.com.au everyday several times to watch the current weather conditions of each suburbs of MCC and provide the necessary guidance to the construction contractors.

Ms Public is a gneral user of this site and does not need to sign in.  She just enters the postcode of each suburb to get the relevant weatther information.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://farm4.staticflickr.com/3051/3146081263_f7b8bee52d_o.jpg" alt="">
          <div class="caption">(Photo source : thelastname at http://www.flickr.com/groups/weatherzone/)
            <h3>7 day weather forecasts</h3>
           Mr Protected is working for Homeaway Travel as a tour organizer who organizes tours across Australia. He visits myweather.com.au to see the next 7 day forecasts for those locations he is going to send the tourists. He uses this information to guide the tour accordingly or reschedule the tour if emergency weather condition would occurs.

He maintains weather information for the list of locations of his next tour.

Mr Protected is an advanced user of myweather.com.au and creates an account to see the 7 day forecasts and save his favourite locations.  
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://farm4.staticflickr.com/3216/3028822001_42584cd1b2_z.jpg?zz=1" alt="">
          <div class="caption">(Photo source : Todd Baker at http://www.flickr.com/groups/weatherzone/)
            <h3>Weather radars</h3>
           Mr Private is operating a Brisbane based fishing charter. He uses the current condition, forecast and radar to run his business smootly.

           <h3>Favourite locations</h3>
              Users can save three of their favourite weather locations. 
          </div>
        </div>
      </div>
       
      </div>
      
    </div>

   </div>
 </div>
