<div class="panel panel-default">
    <div class="panel-heading">
      <span>Location search</span>
    </div>
   <div class="panel-body">
      <%= render 'layouts/form_search' %>
      <%= home_into%>
   </div>
  </div>
    
    
  