 <div class="panel panel-default">
   <div class="panel-heading">
      <span>Australian Radar</span>
   </div>
 </div>

<div class='radar'>
  <div id="anim">
   <div id="anim_clip">
      <div id="anim_animation">
      </div>
      <div class="anchormap" id="anchormap_wzcountry_aus" style="display:block;">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'qld','wzcountry','aus');" style="top:50px;left:298px;width:152px;height:159px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'wan','wzcountry','aus');" style="left:72px;top:55px;width:144px;height:116px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'tas','wzcountry','aus');" style="top:302px;left:336px;height:37px;width:70px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'sa','wzcountry','aus');" style="top:186px;left:219px;width:101px;height:110px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'nt','wzcountry','aus');" style="top:40px;left:219px;height:143px;width: 76px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'nsw','wzcountry','aus');" style="left:323px;top:212px;width:114px;height:56px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'vic','wzcountry','aus');" style="left:323px;top:270px;width:78px;height:30px;background-color:rgba(0,0,0,0);border:none;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('wzstate', 'was','wzcountry','aus');" style="left:72px;top:172px;width:144px;height:100px;background-color:rgba(0,0,0,0);border:none;"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_qld">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '056','wzstate','qld');" style="left:193px;top:222px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '021','wzstate','qld');" style="left:236px;top:152px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '065','wzstate','qld');" style="left:17px;top:156px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '019','wzstate','qld');" style="left:217px;top:107px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '047','wzstate','qld');" style="left:300px;top:221px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '025','wzstate','qld');" style="left:13px;top:229px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '067','wzstate','qld');" style="left:246px;top:275px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '023','wzstate','qld');" style="left:314px;top:230px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '066','wzstate','qld');" style="left:348px;top:296px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '008','wzstate','qld');" style="left:337px;top:266px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '022','wzstate','qld');" style="left:278px;top:182px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '027','wzstate','qld');" style="left:63px;top:356px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '034','wzstate','qld');" style="left:217px;top:107px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '053','wzstate','qld');" style="left:290px;top:327px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '042','wzstate','qld');" style="left:-12px;top:68px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '009','wzstate','qld');" style="left:64px;top:29px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '036','wzstate','qld');" style="left:104px;top:105px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '028','wzstate','qld');" style="left:344px;top:329px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '018','wzstate','qld');" style="left:152px;top:35px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '024','wzstate','qld');" style="left:259px;top:161px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '041','wzstate','qld');" style="left:292px;top:98px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_nt">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '017','wzstate','nt');" style="left:53px;top:190px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '056','wzstate','nt');" style="left:436px;top:284px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '021','wzstate','nt');" style="left:479px;top:214px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '065','wzstate','nt');" style="left:261.0px;top:219.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '019','wzstate','nt');" style="left:460.5px;top:170.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '025','wzstate','nt');" style="left:255.75px;top:291.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '067','wzstate','nt');" style="left:489.0px;top:336.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '034','wzstate','nt');" style="left:460.5px;top:170.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '042','wzstate','nt');" style="left:231.0px;top:129.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '007','wzstate','nt');" style="left:155.25px;top:146.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '009','wzstate','nt');" style="left:306.75px;top:90.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '036','wzstate','nt');" style="left:347.25px;top:167.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '039','wzstate','nt');" style="left:147.75px;top:194.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '018','wzstate','nt');" style="left:395.25px;top:98.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '044','wzstate','nt');" style="left:159.0px;top:312.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '063','wzstate','nt');" style="left:204.0px;top:94.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '016','wzstate','nt');" style="left:-8px;top:232px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_wan">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '017','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:274.5px;top:200.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '065','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:482.25px;top:229.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '025','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:477.0px;top:302.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '005','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:126.0px;top:321.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '042','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:452.25px;top:141.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '007','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:376.5px;top:156.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '039','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:369.0px;top:205.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '029','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:132.0px;top:272.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '015','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:178.5px;top:247.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '044','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:380.25px;top:323.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '063','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:425.25px;top:105.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '016','wzstate','wan');$('#tracker').removeAttr('usemap'); return false;" style="left:212.25px;top:242.25px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_was">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '006','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:144.0px;top:141.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '031','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:198.0px;top:249.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '025','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:477.0px;top:45.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '070','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:164.25px;top:196.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '045','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:390.0px;top:192.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '005','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:126.0px;top:74.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '048','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:261.0px;top:176.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '033','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:473.25px;top:199.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '032','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:267.75px;top:228.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '029','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:132.0px;top:21.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '015','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:178.5px;top:0.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '044','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:380.25px;top:76.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '016','wzstate','was');$('#tracker').removeAttr('usemap'); return false;" style="left:212.25px;top:-3.0px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_nsw">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '049','wzstate','nsw');" style="left: 190.5px;top: 270.0px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '064','wzstate','nsw');" style="left: -5.25px;top: 233.25px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '040','wzstate','nsw');" style="left: 281.25px;top: 260.25px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '067','wzstate','nsw');" style="left: 225.0px;top: 21.0px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '066','wzstate','nsw');" style="left: 378.0px;top: 43.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '008','wzstate','nsw');" style="left: 360.75px;top: 6.75px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '030','wzstate','nsw');" style="left: 87.75px;top: 223.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '053','wzstate','nsw');" style="left: 289.5px;top: 100.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '014','wzstate','nsw');" style="left: 43.5px;top: 315.0px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '004','wzstate','nsw');" style="left: 346.5px;top: 184.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '055','wzstate','nsw');" style="left: 228.0px;top: 247.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '028','wzstate','nsw');" style="left: 370.5px;top: 103.5px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '068','wzstate','nsw');" style="left: 219.0px;top: 324.75px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '002','wzstate','nsw');" style="left: 157.5px;top: 317.25px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '071','wzstate','nsw');" style="left: 324px;top: 215px;"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '069','wzstate','nsw');" style="left: 299px;top: 139px;"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_vic">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '049','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:275.25px;top:157.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '064','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:11.25px;top:108.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '040','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:396.0px;top:144.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '030','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:138.75px;top:95.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '052','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:259.5px;top:336.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '014','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:93.0px;top:217.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '004','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:483.0px;top:43.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '055','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:325.5px;top:128.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '068','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:313.5px;top:230.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '002','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:231.0px;top:221.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '071','wzstate','vic');$('#tracker').removeAttr('usemap'); return false;" style="left:443.25px;top:96.75px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_tas">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '052','wzstate','tas');" style="left:169.5px;top:128px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '037','wzstate','tas');" style="left:303.8px;top:243px"></a>
      </div>
      <div class="anchormap" id="anchormap_wzstate_sa">
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '064','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 335.25px;top: 243.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '056','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 462.0px;top: 0.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '025','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 236.25px;top: 8.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '045','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 128.25px;top: 180.0px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '030','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 414.0px;top: 235.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '027','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 299.25px;top: 168.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '014','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 385.5px;top: 311.25px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '033','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 231.75px;top: 189.75px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '002','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 471.75px;top: 313.5px"></a>
         <a href="javascript:void(0)" onclick="aw.zoomLocationAnchor('radar', '044','wzstate','sa');$('#tracker').removeAttr('usemap'); return false;" style="left: 114.75px;top: 36.0px"></a>
      </div>
   </div>
   <div id="anim_header">
      <div id="anim_controls">
         <span id="anim_timestamp"></span>
         <a href="#" id="anim_stepbackward"></a>
         <a href="#" id="anim_startstop" class="started"></a>
         <a href="#" id="anim_stepforward"></a>
      </div>
   </div>
   <a id="anim_zoomout" href="#" onclick="void(0)"></a>
</div>
</div>
