<!-- Site footer -->
<div class="footer">
  <p>&copy; myWeather 2013 - 2023
  <span class='pull-right slm'>Information supplied by <a href='http://weatherzone.com.au'>Weatherzone</a> based on data from the Bureau of Meteorology and used here for demo purpose ONLY, not for real life usage</span></p>
</div>